## Cuaderno para leer todas las dimensiones y unirlas

In [10]:
import pandas as pd

In [ ]:
D1 = pd.read_excel('Dimensión 1.xlsx')
D1 = D1.loc[:,['Código IE', 'Dimensión 1']]
D1['Código IE'] = D1['Código IE'].astype(float).astype(int)
D1 = D1.set_index('Código IE')

In [11]:
D2 = pd.read_excel('Dimensión 2.xlsx')
D2 = D2.loc[:,['Código IE', 'Dimensión 2']]
D2['Código IE'] = D2['Código IE'].astype(float).astype(int)
D2 = D2.set_index('Código IE')

In [12]:
D4 = pd.read_excel('Dimension 4.xlsx')
D4 = D4.loc[:,['Código IE', 'Dimensión 4']]
D4['Código IE'] = D4['Código IE'].astype(float).astype(int)
D4 = D4.set_index('Código IE')

In [13]:
D5 = pd.read_excel('Dimensión 5.xlsx')
D5 = D5.loc[:,['Código IE', 'Dimensión 5']]
D5['Código IE'] = D5['Código IE'].astype(float).astype(int)
D5 = D5.set_index('Código IE')

In [14]:
D7 = pd.read_excel('Dimensión 7.xlsx')
D7 = D7.loc[:,['Código IE', 'Dimensión 7']]
D7['Código IE'] = D7['Código IE'].astype(float).astype(int)
D7 = D7.set_index('Código IE')

In [7]:
D8 = pd.read_excel('Dimensión 8.xlsx')
D8 = D8.loc[:,['Código IE', 'Dimensión 8']]
D8['Código IE'] = D8['Código IE'].astype(float).astype(int)
D8 = D8.set_index('Código IE')

In [15]:
marco = pd.concat([D2,D4,D5,D7,D8],ignore_index=False, axis=1)
marco = marco.fillna("0")
marco = marco.reset_index()

In [16]:
marco

     Código IE Dimensión 2 Dimensión 4 Dimensión 5 Dimensión 7 Dimensión 8
0            2          1B          2A          1A          2A          1A
1            3          1B           3          1A          2A          1A
2            4          1B          1A          1A          2A          1A
3            5          1B          2B          1A          2A           4
4            6          1B          2A          1A          2A          1A
..         ...         ...         ...         ...         ...         ...
237        193           0           0           0          1B           0
238        207           0           0           0          1B           0
239        234           0           0           0          2A           0
240        242           0           0           0          2A           0
241        245           0           0           0          2A           0

[242 rows x 6 columns]

In [17]:
marco.to_excel('Marco acumulativo.xlsx', index=False)